/* 1st part - Siwon */

.topBlackBox {
    background-attachment: scroll;

    border-color: black;
    background-color: rgb(0, 0, 0);
    background-size: 100%;
    box-sizing: border-box;

    display: block;
    text-align: center;

    height: 50px;
    width: 100%;
}

/* body {
    background-color: black;
} */

.header {
    height: 100px;
    width: 100%;
    background-color: black;
}

.covid19message {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(255, 255, 255);
    line-break: strict;
    line-height: 18px;
    padding-bottom: 16px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 16px;
    position: relative;
    text-decoration: underline;
}

.topLogoLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    height: 80px;
}

.airbnbfont {
    margin-left: 5px;
}

.topLogoLineFonts {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.topLogoLineLeft {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 80px;
}

.topLogoLineMiddle {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 180px;
}

.topLogoLineRight {
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.idIcons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 5px;
    padding-left: 12px;
    padding-right: 5px;
    background-color: white;
    border-radius: 20px;
    width: 57px;
}

.menuButton {
    padding-top: 2.5px;
    width: 20px;
}

.checkoutBoxes {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: black;
}

.checkoutBox1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 226px;
    height: 64px;
    background-color: white;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
}

.checkoutBox1Text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 30px;
}

.checkoutBoxTextSmallBox {
    height: 17.6px;
    display: flex;
    align-items: flex-start;
}

.checkoutBox2 {
    display: flex;
    flex-direction: column;
    width: 196px;
    height: 64px;
    background-color: white;
}

.checkoutBox2Text {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}

.checkoutBox3 {
    display: flex;
    flex-direction: column;
    width: 196px;
    height: 64px;
    background-color: white;
}

.checkoutBox3Text {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}

.checkoutBox4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 240px;
    height: 64px;
    background-color: white;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
}

.checkoutBox4Text {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}

.searchButton {
    height: 48px;
    width: 48px;
    border-radius: 24px;
    background-color: rgb(255, 56, 92);
    display: flex;
    margin: auto 10px;
    justify-content: center;
    align-items: center;
}

.searchIcon {
    width: 20px;
    height: 20px;
}

.checkoutBoxTextSmall {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 800;
}

.checkoutBoxTextBig {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400px;
}

.ukraineBox {
    box-sizing: border-box;
    background-color: rgb(255, 56, 92);
    border-radius: 10px;
    width: 1100px;
    height: 274px;
    margin: 50px auto 0px;
    padding: 0px 180px 0px 180px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.ukraineBoxText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px;
    font-weight: 600;
    text-align: center;

    margin: 0px auto 32px auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.findOutMore {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    justify-items: center;

    display: flex;
    align-items: center;

    width: 135px;
    height: 38px;

    line-height: 32px;

    padding: 0px 13px;
    margin: 0px auto;
    border-style: solid;
    border-color: white;
    border-radius: 10px;

    border-width: 0.5px;
}

.ukraineBoxFont {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0px auto;
}

.tentBox {
    background-image: url(https://a0.muscache.com/im/pictures/4b75813b-bc09-4719-b6b8-06a5f170724d.jpg?im_w=960);
    background-origin: border-box;
    background-size: cover;

    border-radius: 10px;

    width: 1100px;
    height: 550px;
    display: flex;
    flex-direction: column;
    margin: 10px auto;

    margin-top: 50px;
}

.tentBoxText {
    margin: 378px auto 0px auto;
}

.tentBoxFont {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 600;
}

.tentBoxButton {
    width: 106px;
    padding: 12px 24px;
    background-color: white;

    margin: 16px auto 0px auto;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;

    display: flex;
    justify-content: center;
}

.tentBoxButtonText {
    font-size: 18px;
    font-weight: 800;

    background-image: linear-gradient(
        90deg,
        rgb(111, 1, 156) 0%,
        rgb(198, 1, 126) 135.12%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.middle {
    width: 100%;
    height: auto;
    background-color: black;
}

/* 2nd part - Seorin */

.second-part span {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-weight: 600;
}

.second-part a:hover {
    text-decoration: none;
}

.trip-section,
.activity-section {
    padding-top: 96px;
}

.sub-title {
    display: flex;
    justify-content: center;
}

.sub-title-text {
    font-size: 33px;
    letter-spacing: -0.66px;
    line-height: 37px;
    padding-bottom: 48px;
    width: 1103.33px;
}

.trip-content,
.activity-content {
    display: flex;
    justify-content: center;
}

.city-block-set {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 1103.33px;
    height: 344px;
    column-gap: 24px;
    color: rgb(255, 255, 255);
}

.city-block {
    display: flex;
    border-radius: 12px;
    flex-direction: column;
    overflow: hidden;
}

.city-block .image-container {
    display: inline-block;
    vertical-align: bottom;
    background-size: cover;
    background-position: 50% 50%;
    height: 50%;
}

.city-block .image-container img {
    height: 100%;
    width: 100%;
}

.city-block .text-container {
    display: inline-block;
    vertical-align: bottom;
    background-size: cover;
    background-position: 50% 50%;
    height: 50%;
}

.city-text-box {
    height: 100%;
    width: 100;
    box-sizing: border-box;
    padding: 20px 16px 16px;
}

.city-text {
    padding-bottom: 8px;
}

.city-name {
    color: white;
    font-size: 27px;
    letter-spacing: -0.27px;
    line-height: 30px;
}

.city-dist {
    color: white;   
    font-weight: 400;
}

#Seoul {
    background: rgb(222, 49, 81);
}

#Incheon {
    background: rgb(204, 45, 74);
}

#Daegu {
    background: rgb(188, 26, 110);
}

#Daejeon {
    background: rgb(217, 59, 48);
}

.activity-block-set {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1103.33px;
    height: 617px;
    column-gap: 24px;
    color: rgb(255, 255, 255);
}

.activity-block {
    display: flex;
    border-radius: 12px;
    flex-direction: column;
    overflow: hidden;
}

#activity_1 {
    background: url(https://a0.muscache.com/im/pictures/c2adcb16-6c3f-4041-86a1-afa9c303c500.jpg?im_w=1920) center/cover;
}

#activity_2 {
    background: url(https://a0.muscache.com/im/pictures/c1bdf53f-2a19-4529-aa9b-1b0e6bd8d0ee.jpg?im_w=1920) center/cover;
}

.activity-block .text-container {
    display: flex;
    padding: 40px;
    flex-direction: column;
}

.activity-text {
    font-size: 41px;
    letter-spacing: -0.82px;
    line-height: 46px;
    padding-bottom: 24px;
}

.activity-button {
    display: flex;
    padding: 14px 24px;
    line-height: 20px;
    letter-spacing: -0.82px;
    width: 32px;
    height: 20.67px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 16px;
    border-radius: 8px;
}

#online {
    width: 83.42px;
    white-space: pre-line;
}


/* 3rd part - Hojun */

.hosting-part {
    margin: 80px 80px 40px 80px;
}

.main-content {
    background: url(https://a0.muscache.com/im/pictures/0528b0f7-4c0c-47bc-9786-d91454f531ba.jpg?im_w=1440) no-repeat center/cover;
    height: 500px;
    border-radius: 12px;
    padding: 70px;
}

.hosting-question {
    color: #ffffff;
    font-size: 90px;
    font-weight: 600;
    line-height: 105px;
    margin-bottom: 135px;
    letter-spacing: -0.02em;
}

.ask-superhost {    
    color: #222222;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

#superhost-button {
    display: flex;
    height: 20px;
    width: 215px;
    background-color: #ffffff;
    border-radius: 8px;
    border-style: none;
    justify-content: center;
    align-items: center;
    padding: 14px 14px;
    text-decoration: none;
}

a#superhost-button:hover {
    background-color: #e9e9e9;
}

.quick-menu-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 48px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 48px;
    font-size: 14px;
}

.bottom-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;
    font-size: 14px;
    border-top: 0.7px solid #d2d2d2;
}

.left-part {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.right-part {
    display: flex;
    flex-direction: row;
    float: right;
    align-items: center;
}

ul {
    font-weight: bold;
    list-style: none;
    padding-left: 0px;
}

li {
    font-weight: normal;
    margin-top: 10px;
}

.support {
    flex: none;
    padding-left: 12px;
    padding-right: 12px;
}

.community {
    flex: none;
    padding-left: 12px;
    padding-right: 12px;
}

.hosting {
    flex: none;
    padding-left: 12px;
    padding-right: 12px;
}

.introduction {
    flex: none;
    padding-left: 12px;
    padding-right: 12px;
}

.language-currency {
    display: flex;
    flex-direction: row;
}

.button {
    display: flex;
    flex-direction: row;
    background: transparent;
    border: 0px;
    font-weight: 600;
}

.sns-list {
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    margin-left: 32px;
}

.sns-service {
    margin-top: 0;
    margin-right: 24px;
}

#naver-post {
    margin-top: 0;
}

a:link {
    text-decoration: none;
    color: #222222;
}

a:visited {
    color: #222222;
}

a:hover {
    text-decoration: underline;
}

.korean {
    text-decoration: underline;
    margin-left: 5px;
}

.won {
    text-decoration: underline;
}
